:root {
  --vp-c-brand: #42d392;
  --vp-c-brand-light: #69c99e;
  --vp-c-brand-lighter: #74e9b5;
  --vp-c-brand-lightest: #42d392;
  --vp-c-brand-dark: #73d4a8;
  --vp-c-brand-darker: #42d392;
  --vp-c-brand-dimm: rgba(100, 108, 255, .08);
}

:root {
  --vp-home-hero-name-color: #42d392;
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(315deg,#42d392 25%,#647eff);
  --vp-button-brand-border: var(--vp-c-brand-light);
  --vp-button-brand-text: var(--vp-c-text-dark-1);
  --vp-button-brand-bg: var(--vp-c-brand);
  --vp-button-brand-hover-border: var(--vp-c-brand-light);
  --vp-button-brand-hover-text: var(--vp-c-text-dark-1);
  --vp-button-brand-hover-bg: var(--vp-c-brand-light);
  --vp-button-brand-active-border: var(--vp-c-brand-light);
  --vp-button-brand-active-text: var(--vp-c-text-dark-1);
  --vp-button-brand-active-bg: var(--vp-button-brand-bg);
}

